@font-face {
  font-family: 'proxima_nova';
  src: local('proxima_nova'),
    url('./fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'proxima_nova';
  font-weight: 300;
  src: local('proxima_nova'),
    url('./fonts/Proxima\ Nova\ Bold.otf') format('opentype');
}

@font-face {
  font-family: 'proxima_nova';
  font-weight: 300;
  src: local('proxima_nova'),
    url('./fonts/Proxima\ Nova\ Black.otf') format('opentype');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  overflow-x: hidden;
  font-family: proxima_nova, Arial, serif;
  /* font-weight: black; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: Lato, Arial, serif;
  /* font-weight: black; */
}
