.singleSection {
  background: #f5f4f6;
  padding-top: 50px;
  height: 100vh;
}
.headingStyle {
  font-weight: 900;
  font-size: 1.6rem;
  .underLine {
    border: 1.8px solid #000;
    width: 48px;
    margin: 10px auto;
  }
}
