.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #00a29d;
}

.logoBox {
  width: 120px;
  height: 31px;
  margin-left: 10px;
  float: left;
  .Biglogo {
    height: 40px;
    margin-left: -35px;
  }
}
.logoContainer {
  float: right;
  .userLogo {
    background: #00a29d;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    svg {
      color: #fff;
    }
  }
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 16px;
  margin-left: 15px;
  margin-right: -30px;
  display: none;
  background: none;
}

.barsBtn {
  display: block !important;
  width: 20px;
  height: 2px;
  background: #fff;
  position: relative;
}
.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #fff;
}
.barsBtn:after {
  top: auto;
  bottom: -6px;
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
    background: #00a29d;
  }
  .topBar {
    display: none;
  }
}
